@import './Common.scss';

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    min-height: 100vh;
    background: linear-gradient(#1942b1, #72eaf3);
    font-family: $fontMyeongjo;
    /* 클릭 or 드래그시 파란배경 없애기*/
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
body::before {
    content: '';
    background: '';
    background: url('../../public/assets/images/common/sky.jpg');
    background-size: cover;
    opacity: 0.1;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* .moon {
    width: 500px;
    position: absolute;
    right: -120px;
    top: 0;
    z-index: -1;
    animation: move 0.6s infinite alternate;
} */
.backgroundLogo {
    width: 200px;
    position: absolute;
    right: 0px;
    top: 10vh;
    z-index: -1;
    animation: move 0.6s infinite alternate;
}

/*main*/
.main {
    width: 70vw;
    height: 90vh;
    overflow: auto;
    background-color: #cce7f3;
    border-radius: 15px 15px 0 0;
}
.main .content {
    padding: 20px 10px;
}
/*scroll 효과*/
.main::-webkit-scrollbar {
    width: 10px;
}
.main::-webkit-scrollbar-thumb {
    background-color: $fontBlueColor;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.main::-webkit-scrollbar-track {
    background-color: #98b7fa;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

/* background css 효과 */
.wave_1.left,
.wave_2.left,
.wave_3.left,
.wave_4.left {
    left: -200px;
}
.wave_1.right,
.wave_2.right,
.wave_3.right,
.wave_4.right {
    right: -200px;
}
.wave_1 {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 60vh;
    z-index: -1;
    border-radius: 45%;
    background: rgba(19, 3, 244, 0.8);
    animation: wave 3s infinite linear;
}
.wave_2 {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 70vh;
    z-index: -1;
    border-radius: 45%;
    background: rgba(3, 169, 244, 0.8);
    animation: wave 5s infinite linear;
}
.wave_3 {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 75vh;
    z-index: -1;
    border-radius: 45%;
    background: rgba(30, 103, 238, 0.8);
    animation: wave 5s infinite linear;
}
.wave_4 {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 85vh;
    z-index: -1;
    border-radius: 45%;
    background: #64edf7;
    border: 6px solid rgba(83, 225, 235, 0.7);
    animation: wave 7s infinite linear;
}

@keyframes wave {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes move {
    0% {
        top: 4vh;
    }
    100% {
        top: 6vh;
    }
}
