@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100..900&display=swap');

/* font family */
$fontGothic: 'Nanum Gothic Coding', monospace;
$fontMyeongjo: 'Nanum Myeongjo', serif;

/* color */
$fontBlueColor: #0099ff;
$fontRedColor: #ff4747;
