@import './../Common.scss';

.Content .contentButton {
    display: flex;
    justify-content: flex-end;
    padding: 0 30px;
}
.Content .contentButton .Button {
    margin-left: 5px;
}

.Content .contentTop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Content .contentTop .emotion {
    width: 80px;
    height: 80px;
}
.Content .contentTop .emotion img {
    width: 100%;
    height: 100%;
}
.Content .contentTop .date {
    font-weight: bold;
}
.Content .contentTop .date .ymd {
    margin-right: 5px;
}

.Content .contentBottom {
    margin-top: 50px;
    padding: 0 30px;
    white-space: pre-wrap;
}
